body
{
	position: fixed;
    background: linear-gradient(to bottom, #3E80FE, #12b08e);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
}



h1
{
	text-align: center;
}



.loginbox input[type=text],input[type=password]
{
	border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}



.loginbox input[type=email],input[type=tel]
{
	border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
	
}



.loginbox input[type=submit]
{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border: none;
	background: #60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
}

.loginbox input[type=submit]:hover
{
	background: #003366;
	opacity: 0.7;
}

.loginbox{
    position: fixed;
    width: 320px;
    height: 510px;
    top: 20vw;
    left: 50%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1;

}



.loginbox:before{
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    
    filter: blur(10px);
    margin: -20px;
    z-index: -1;

}


.loginbox h1{
    margin-top: 7px;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}



.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}



.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}



.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.loginbox input[type="phonenumber"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 1s ease 0s;
}



.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #056967;
    color: white;
}



.loginbox option[type="select"]{
    background-color: black;
    color: white;
}


.loginbox select{
    background-color: black;
    color: white;
}




.loginbox a{
    text-decoration: none;
    color: 
    font-size: 12px;
    line-height: 20px;
    color: #4d0d73;
}



.loginbox a:hover
{
    color: #002cde;
}



.loginbox .avatar{
    position: absolute;
    top: .5rem;
    left: 8rem; 
    height: 4rem;
}


.button6{
    position: absolute;
    left: 10vw;
    margin-top: 70px;
    margin-right: 5.25vw;
    width: 10rem;
    color: white;
    background-color: #056967;
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}



.button6:hover{
    background:#805ced;
    transform: scale(1.3);
    transition: .5s;

}



.button7{
    position: absolute;
    left: 80vw;
    width: 10rem;
    margin-top: 70px;
    margin-right: 5.25vw;
    color: white;
    background-color: #056967;
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}



.button7:hover{
    background:#805ced;
    transform: scale(1.3);
    transition: .5s;

}