blinker==1.4
certifi==2019.9.11
chardet==3.0.4
Click==7.0
dominate==2.4.0
Flask==1.1.1
Flask-Admin==1.5.4
Flask-Bootstrap==3.3.7.1
Flask-Dance==3.0.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
oauthlib==3.1.0
passlib==1.7.2
pycparser==2.19
requests==2.22.0
requests-oauthlib==1.3.0
six==1.13.0
SQLAlchemy==1.3.11
SQLAlchemy-Utils==0.36.0
urllib3==1.25.6
URLObject==2.4.3
visitor==0.1.3
Werkzeug==0.16.0
WTForms==2.2.1
