
/*--- Home Page --*/

body {
    overflow-x: hidden;
    background-color:  #E9ECEF;

}
.background {
    background: linear-gradient(to right, #6543cc, #729bdb);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
}
            
@keyframes BackgroundGradient {

    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
}


.loginbtn{
    position: absolute;
    top: 10vh;
    left: 90vw;
    background: linear-gradient(to right, #6543cc, #729bdb);
    background-size: 400% 400%;
    animation: BackgroundGradient 2s ease infinite;
    border: 2px solid #E9ECEF;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

}
.loginbtn:hover{
    background:#12b08e;
    transform: scale(1.3);
    transition: .5s;

}


#logo{
    height: 2rem;
    transition: .3s;
    overflow: hidden;
}

#logo:hover{
    transform: scale(1.3);
    background: transparent;

}


.navbar{
    text-transform: uppercase;
    font-family: sans-serif;
}




/*--- For Other Platforms --*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}




.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 15%;
    z-index: 1;
}

.caption img{
    height:12rem; 
}   
.caption h1{
    color: white;
    font-size: 3.4rem;
    font-family: century-gothic, sans-serif;
    padding-bottom: 2rem;
    cursor: default;
}
.caption h2{
    color: white;
    font-size: 2rem;
    font-family: century-gothic, sans-serif;
    padding-bottom: 2rem;
    cursor: default;
} 




/*buttons*/

.button1{
    left: 50%;
    top: 130%;
    width:23vw;
    border-radius: 10px;
    transform: translateX(-0%) translateY(-0%);
    font-family: century-gothic, sans-serif;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 3.7vw;
    background: linear-gradient(to right, #1be0a2, #12b08e);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 10px 20px #3A514E;

}
.button1:hover{
    background:#056967;
    transition: 1.8s;

}
.button1:focus{
    outline: none;
} 
.button1:before{
    content:'';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5 );
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
.button1:after{
    content:'';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2 );
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

.button1:hover:before{
  transform: translateX(500px) skewX(-15deg);
  opacity: .6;
  transition: .7s ;
}

.button1:hover:after{
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s ;
}


.button2{
    position: relative;
    width: 250px;
    height: 250px;
    padding: 0px;
    border: 1px solid #E9ECEF; 
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin: 5px auto;
    display: inline-block;
    transition: 1s;


}

.button2:hover{
    transform: scale(1.3);
    background: #ff800a;
    z-index: 2;
    box-shadow: 5px 10px 10px black;
}








h3.heading{
    text-align: center;
    font-size: 4rem;
    font-family: century-gothic, sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    width: 100%;
    color: #f7f2f2;
    text-shadow: 5px 2px 10px black;
    cursor: default;
}
h4.heading {
    text-align: center;
    font-size: 2rem;
    font-family: century-gothic, sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
    width: 100%;
    color: Black;
    cursor: default;

}


.contact{
    padding-top: 50px;
    background-color: transparent; 

}

.padding{
    padding: 2rem 0;
}
img.portfolio{
    width: 100%;
}

.footer .row{
    background-color: #505962;
    padding: 1rem 2rem 3rem;
    color: white;
    cursor: default;
}
.footer img{
    height: 5rem;
}



/*--- Home Page End--*/





















/*--- Search Page --*/

.citysrc{
    display: block;
}
.forcastoverlay{
    display: none;
}

.button3{
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 5.25vw;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}
.button3:hover{
    transform: scale(1.3);
    background: transparent;

}
.button3 img{
    height: 5rem;
}




.button4{
    position: relative;
    float: right;
    margin-top: 70px;
    margin-right: 5.25vw;
    color: white;
    background-color: #805ced;
    font-family: century-gothic, sans-serif;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.button4:hover{
    background:#056967;
    transform: scale(1.3);
    transition: .5s;

}
.button5{
    position: relative;
    top: 11rem;
    left: 6.8vw;
    color: Black;
    background-color: rgba(128, 92, 237, 0.2);
    border: 2px solid #805ced;
    font-family: century-gothic, sans-serif;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}
.button5:hover{
    background:#E9ECEF;
    transform: scale(1.1);
    transition: .5s;

}







@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

.caption2{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 17%;
    z-index: -1;
}

.caption2 h1{
    position: relative;
    top: 5rem;
    left: 6.5vw;
    font-size: 5.2vw;
    font-family: 'Open Sans';
    color: #5783F3;
    cursor: default;
}

.caption2 h2{
    position: relative;
    top: 8rem;
    left: 6.5vw;
    font-size: 3.14vw;
    font-family:'Futura';
    color: #652fb5;
    cursor: default;
}
.caption2 h2 l{
    color:#54C1FF;
}
.caption2 h2 l2{
    color:#FCD121;
}



.searchbox{
    position: relative;
    top: 12rem;
    height: 35px;
    left: 7.8vw;
    width: 86vw;
    background: transparent;
    border: 1.5px solid #652fb5;
    border-radius: 5px;
    max-width: 100%;
}

#country{
    position: relative;
    top: 11.09rem;
    left: 15vw;
    height: 35px;
    background: transparent;
    border: 1.5px solid #652fb5;
    border-radius: 5px;

}


.Searchbutton1{
    position: relative;
    left: 7.8vw;
    width:  86vw;
    top: 13rem;
    color: white;
    font-size: 1.4rem;
    background-color: #805ced;
    font-family: century-gothic, sans-serif;
    border-radius: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.Searchbutton1:hover{
    background:#056967;
    transition: 1s;

}

/*--- Search Page End --*/























/*--- Forecast Page --*/


.button8{
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 2vw;
    color: white;
    background-color: #805ced;
    font-family: century-gothic, sans-serif;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
}
.button8:hover{
    background:#056967;
    transform: scale(1.15);
    transition: .5s;

}


/*--- Overlay --*/



#overlaywrapper{
    display: none;
    position: fixed;
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.95);
    z-index: 25;
}

#overlay{
    background-color: rgba(31, 133, 222, 0.5);
    border-radius: 10px;
    height: 40rem;
    width: 80rem;
    z-index: 5;
    box-shadow: 30px 30px 40px black;
}
#overlay h1{
    position: relative;
    top: 1rem;
    left: 3vw;
    font-size: 3rem;
    font-family: century-gothic, sans-serif;
    color: White;
    cursor: default;

}
#overlay h2{
    position: relative;
    top: 1rem;
    left: 1vw;
    font-size: 3rem;
    font-family: century-gothic, sans-serif;
    color: White;

}
#overlay h5{
    position: relative;
    left: 15px;
    top: 10rem;
    font-size: 2.5rem;
    font-family: impact;
    color: White;

}
#overlay h3{
    top: 19rem;
    font-size: 4rem;
    font-family: century-gothic, sans-serif;
    color: White;

}

.weather-icon2{
    position: relative;
    top: 1rem;
    left: 15vw;
    height: 9rem;
}

.temperature2{
    position: relative;
    display: flex;
    top: 1rem;
    width: 20rem;
    left: 7vw;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
}
.temperature2:hover{
    transform: scale(1.02);

}

.temperature2 h4{
    top: 1vw;
    font-size: 4rem;
    font-family: century-gothic, sans-serif;
    color: White;
    cursor: pointer

}
.temperature2 span{
    position: relative;
    top: -1rem;
    font-size: 2.5rem;
    font-family: century-gothic, sans-serif;
    color: White;

}




/*--- Overlay End --*/
.overlaywrapper2{
    display: none;
    position: fixed;
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.95);
    z-index: 10;
}
.noti{
    background-color: rgba(168, 8, 0, 0.7);
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 40vh;
    width: 60vw;
    box-shadow: 30px 30px 40px black;
    display: none;
    z-index: 100;
}
.notification{
    position: relative;
    display: none;
    color: Darkred;
    padding: 5px;
    font-size: 3vw;
    height: 20vh;
    width: 40vw;
    margin: 0 auto;
    top: 10%;
    background: lightblue;
    border: 2px solid lightblue;
    border-radius: 5px;
    font-family: century-gothic, sans-serif;
    padding-bottom: 2rem;
    cursor: default;
    position: relative;
    z-index: 10;
}
.reload{
    position: relative;
    display: none;
    margin: 0 auto;
    top: 20%;
    font-size: 3vw;
    font-family: century-gothic, sans-serif;
    color: darkred;
    background: lightblue;
    box-shadow:5px 5px 5px #7a7a7a;
    width: 14vw;
    height: 4rem;
    border: none; 
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    z-index: 10;
}
.reload:hover{
    transform: scale(1.02);
    background:#056967;
    box-shadow: 5px 10px 10px black;
    z-index: 10;
}







.caption3{
    position: relative;
    height: 350px;
    background-color: #3E80FE;
}
.caption3 h1{
    position: relative;
    top: 0rem;
    font-size: 3.5vw;
    font-family: century-gothic, sans-serif;
    color: White;
    cursor: default;

}
.caption3 h2{
    position: relative;
    top: 8rem;
    font-size: 4vw;
    font-family: century-gothic, sans-serif;
    color: White;

}
.caption3 h3{
    position: relative;
    top: 2vh;
    font-size: 3vw;
    font-family: impact;
    color: White;

}


.changecitybutton{
    position: absolute;
    top: 5rem;
    left: 9vw;
    width: 10vw;
    height: 2rem;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: century-gothic, sans-serif;
    color: #3E80FE; 
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}
.changecitybutton:hover{
    background:#056967;
    color: white;
    transform: scale(1.1);
    transition: .5s;
}
.changecitybutton i{
    position: relative;
    left: -13px;
}
.weather-icon{
    position: absolute;
    top: 8rem;
    left: 10vw;
    height: 9rem;
}

.temperature{
    position: absolute;
    display: flex;
    top: 17rem;
    width: 8rem;
    left: 10vw;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}
.temperature:hover{
    transform: scale(1.02);

}

.temperature h1{
    top: 1vw;
    font-size: 4rem;
    font-family: century-gothic, sans-serif;
    color: White;
    cursor: pointer

}
.temperature span{
    position: relative;
    top: -1rem;
    font-size: 2.5rem;
    font-family: century-gothic, sans-serif;
    color: White;

}








.caption3s h1{
    position: absolute;
    top: 24rem;
    left: 6.5vw;
    font-size: 5vw;
    font-family: century-gothic, sans-serif;
    color: #16BD8E;
    cursor: default;
}
.closetbutton{
    position: absolute;
    top: 13vw;
    left:0vw;
    font-size: 3vw;
    font-family: century-gothic, sans-serif;
    color: white;
    background: #D31C1C;
    box-shadow:5px 5px 5px #7a7a7a;
    width: 14vw;
    height: 7rem;
    border: none; 
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}
.closetbutton:hover{
    transform: scale(1.02);
    background:#056967;
    box-shadow: 5px 10px 10px black;
}








.catagorybutton{
    position: relative;
    box-shadow:5px 5px 5px #7a7a7a;
    top: 2vw;
    left: 40%;
    width: 26vw;
    height: 150px;
    border: none; 
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;

}

.catagorybutton h1{
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: 2.5vw;
    font-family: century-gothic, sans-serif;
    color: white;
}
.catagorybutton h2{
    position: absolute;
    top: 7rem;
    left: 2.2rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: century-gothic, sans-serif;
    color: white;
}



#catagoryb1{
    margin-right:1vw;
    margin-bottom:1vw;  
    background: #3E80FE;
}
#catagoryb1 img{
    position: absolute;
    top: 4rem;
    height: 3rem;
    left: 2.5rem;
}


#catagoryb2{ 
    background: #16BD8E;
}
#catagoryb2 img{
    position: absolute;
    top: 4rem;
    height: 3rem;
    left: 2.5rem;
}


#catagoryb3{
    margin-right:1vw;  
    background: #FFC300;
}
#catagoryb3 img{
    position: absolute;
    top: 4rem;
    height: 3rem;
    left: 2.5rem;
}


#catagoryb4{ 
    background: #3E80FE;
}
#catagoryb4 img{
    position: absolute;
    top: 4rem;
    height: 3rem;
    left: 2.5rem;
}


.catagorybutton:hover{
    transform: scale(1.02);
    background: #ff800a;
    z-index: 2;
    box-shadow: 5px 10px 10px black;
}



.details{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.9);
    transform: translateY(-50%);
    transform: scaleY(0);
    transition: transform .5s;
    text-align: center;
    padding: 15px;
    color: #fff;
    z-index: 10;
}
.catagorybutton:hover .details{
    transform: scaleY(1);
}

.details h1{
    position: relative;
    text-align: center;
    font-size: 2vw;
    top: -1.2rem;
}
.details p{
    position: relative;
    text-align: center;
    font-size: 1vw;
    top: -1rem;

}

.details a{
    position: absolute;
    top: 6rem;
    left: 20vw;
    padding: 3px;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    background: #056967;
    border-radius: 10px;
    transition: .5s;
}
.details a:hover{
    cursor: pointer;
    transform: scale(1.02);
    background:#056967;
    box-shadow: 5px 10px 10px black;
}


/*--- Forecast Dress Suggestion--*/

.toggleContainer{
    position: absolute;
    left: 30vw;
    top: 55vh;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.toggleContainer h1{
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 1.6vw;
}
.toggleContainer h2{
    position: absolute;
    top: 10px;
    font-size:  1.6vw;
    left:5.8vw;
}

.togglebtn{
    width: 11.5vw;
    height: 7vh;
    background: transparent;
    border: 2px solid #3E80FE;
    border-radius: 10px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}
.togglebtn > .innercircle{
    width: 4.5vw;
    height: 5.2vh;
    background: #00acee;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.togglebtn.active > .innercircle{
    margin-left: 50%; 
    width: 5.4vw;
}
/*--- Forecast Page End--*/
#web{
    display: none;
}








/*--- Login Page--*/

#loginform{
    position: fixed;
    background: linear-gradient(to bottom, #00b7ff, #03dffc);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
}

.loginbox{
    position: relative;
    width: 320px;
    height: 460px;
    top: 47%;
    left: 50%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1;

}

.loginbox:before{
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    
    filter: blur(10px);
    margin: -20px;
    z-index: -1;

}




.loginbox h1{
    margin-top: 7px;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="phonenumber"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 1s ease 0s;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #056967;
    color: white;
}

.loginbox option[type="select"]{
    background-color: black;
    color: white;
}
.loginbox select{
    background-color: black;
    color: white;
}


.loginbox a{
    text-decoration: none;
    color: 
    font-size: 12px;
    line-height: 20px;
    color: #4d0d73;
}

.loginbox a:hover
{
    color: #002cde;
}
.loginbox .avatar{
    position: absolute;
    top: .5rem;
    left: 8rem; 
    height: 4rem;
}











.signupbox{
    position: relative;
    width: 330px;
    height: 550px;
    top: 47%;
    left: 50%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    z-index: 1;

}
.signupbox:before{
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    
    filter: blur(10px);
    margin: -20px;
    z-index: -1;

}




.signupbox h1{
    margin-top: 7px;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}
.signupbox h2{
    margin-top: 7px;
    padding: 0 0 15px;
    text-align: center;
    font-size: 22px;
}

.signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.signupbox input[type="phonenumber"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.signupbox input[type="submit"]{
    position: relative;

    width: 17rem;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 1s ease 0s;
}
.signupbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #056967;
    color: white;
}

.signupbox option[type="select"]{
    background-color: black;
    color: white;
}
.signupbox select{
    background-color: black;
    color: white;
}


.signupbox a{
    text-decoration: none;
    color: 
    font-size: 12px;
    line-height: 20px;
    color: #4d0d73;
}

.signupbox a:hover
{
    color: #002cde;
}
.signupbox .avatar{
    position: absolute;
    top: .5rem;
    left: 8rem; 
    height: 4rem;
}

.fdrimg{
    height: 4rem;
}
.google{
    position: relative;
    left: 2vw;
    height: 5rem;
    width: 5rem;
    color: white;
    background-color: transparent;
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.google:hover{
    background:white;
    transform: scale(1.3);
    transition: .5s;

}

.facebook{
    position: relative;
    color: white;
    left: 5vw;
    height: 5rem;
    width: 5rem;
    background-color: transparent;
    font-family: century-gothic, sans-serif;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.facebook:hover{
    background:white;
    transform: scale(1.3);
    transition: .5s;

}




.button6{
    position: absolute;
    left: 10vw;
    margin-top: 70px;
    margin-right: 5.25vw;
    width: 10rem;
    color: white;
    background-color: #056967;
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.button6:hover{
    background:#805ced;
    transform: scale(1.3);
    transition: .5s;

}

.button7{
    position: absolute;
    left: 80vw;
    width: 10rem;
    margin-top: 70px;
    margin-right: 5.25vw;
    color: white;
    background-color: #056967;
    font-family: century-gothic, sans-serif;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.button7:hover{
    background:#805ced;
    transform: scale(1.3);
    transition: .5s;

}






/*--- Login Page End--*/




/*--- Market Place--*/

.websitechoice{
    display: visible;
}
.marketplace{
    display: none;
    position: absolute;
    border: none;
    left: 1vw;
    top: 10vh;
    height: 90vh;
    width: 99vw;
}
.marketplace2{

    position: absolute;
    border: none;
    left: 1vw;
    top: 10vh;
    height: 90vh;
    width: 99vw;
}

.websitebutton{
    background: #ffffff;
    position: relative;
    box-shadow:5px 5px 5px #7a7a7a;
    left: 4.8vw;
    top: 5vw;
    width: 30vw;
    height: 28vh;
    margin-right: 5px;
    margin-bottom: 5px; 
    border: 2px solid grey; 
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.websitebutton:hover{
    transform: scale(1.02);
    cursor: pointer;
    background: #eb4034;
    z-index: 2;
    box-shadow: 5px 10px 10px black;
}
.webwrapper{
    height: 100vh;
    background-color: #ada690;

}
.dropdownimg{
    height: 3rem;
    width: 6rem;
}
.dropdown-item:hover{
    cursor: pointer;
    background:#969287;
}