<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="photos/favicon.ico" />
	<title>Login Form</title>
	<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<div id="loginform" class="background">

		<div class="row">
			<a href="index.html" style="text-decoration: none" ><button class="button6" type="home" >Home Page</button></a><br>
			<a href="" style="text-decoration: none" ><button class="button7" type="signup">Sign Up</button></a><br>
		</div>

		
		<div class="loginbox">
			<img src="photos/logo.png" class="avatar">
			<form method="post" action="">
				<h1>Login</h1>
				<p>Username</p>
				<input type="text" name="" placeholder="Enter Username">
				<p>Password</p>
				<input type="password" name="" placeholder="Enter Password">
            	<input  type="submit" name="submit" value="Login">
            	<a href="">Lost your password?</a><br>
            	<a href="">Don't have an account?</a>				
			</form>		
		</div>
	</div>	







	<script src="scripts/citysearch.js"></script>
	<script src="scripts/kit.js"></script>
</body>
</html>